html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container-fluid {
    background-color: rebeccapurple;
    font-style:italic;
    font-weight:bold;
}

.display-4 {
    border: 5px dashed;
    border-radius: 5px;
    padding:inherit;
}

.footer {
    background-color:lightblue;
}
.nav-item {
    border: 2px solid;
    border-radius: 5px;
}
.navbar-brand {
    border: 3px solid;
    border-radius: 5px;
    padding: 4px;
}
#privacy-policy-text {
    font-style:italic;
}