@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p id="privacy-policy-text"> No privacy policy available. Please check back later. </p>

<p>Use this page to detail your site's privacy policy.</p>
